body {
    background: linear-gradient(90deg, #1F1F1F, #242424);
}

.backgrd {
    font-family: 'Krona One', sans-serif;
    overflow: hidden;
}

.inline {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: white;
    padding-left: 0;
    margin: 0 0 0 300px;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    color: white;
    position: relative;
    margin: 0 1rem;
    cursor: pointer;
}

nav > ul > li::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 5px;
    background: grey;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

nav > ul > li.active::after {
    width: 100%;
    background: linear-gradient(90deg, #FF00E5, #EB9101);
}

nav > ul > li:hover::after {
    width: 100%;
    background: linear-gradient(90deg, #046c2d, #13ac1a);
    transition: 1s;
}

.Qzy {
    font-size: 3rem;
    color: white;
    top: 10%;
    transform: translateY(20%); 
    display: inline-block;
    margin-left: 80px;
}

.qn {
    font-size: 2rem;
    background-image: linear-gradient(315deg, #FF00E5, #EB9101);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 15px; 
}

.mqn {
    font-size: 2.5rem; 
    background-image: linear-gradient(180deg, #FFFFFF, #999999);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px; 
}

.abtn {
    display: block;
    height: 50px; 
    width: 100%;
    max-width: 400px; 
    border-radius: 40px;
    background: linear-gradient(90deg, #00D9FF, #42838E);
    color: white;
    font-size: 1.2rem; 
    font-family: 'Krona One', sans-serif;
    animation: button 5s ease infinite;
    background-size: 150% 150%;
    border: none;
    transition: transform 1s ease;
    margin-bottom: 10px;
}

.abtn:hover:not([disabled]) {
    background: linear-gradient(90deg, #8400ff, #ab00df);
    animation: button 5s ease infinite;
    background-size: 150% 150%;
    transform: scale(1.1);
    cursor: pointer;
}

.abtn:disabled {
    cursor: no-drop;
}

.correct {
    background: linear-gradient(90deg, #00b448, #3f8357);
    animation: button 5s ease infinite;
    background-size: 150% 150%;
}

.incorrect {
    background: linear-gradient(90deg, #a80303, #cd3c3c);
    animation: button 5s ease infinite;
    background-size: 150% 150%;
}

@keyframes button {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.nxt > button {
    border-radius: 15px;
    height: 50px;
    width: 200px;
    font-size: 1.5rem;
    background: linear-gradient(180deg, #D9D9D9, #737373);
    font-family: 'Krona One', sans-serif;
    transition: transform 1s ease;
    border: none;
    display: inline-block;
}

.nxt > button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.score {
    background: #454545;
    height: 60px;
    width: 200px;
    font-family: 'Krona One', sans-serif;
    border-radius: 26px;
    border: none;
    font-size: 1.5rem;
    color: white;
    transform: translateY(-150%); 
}

.shr {
    background: #454545;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 15px; 
    right: 97%; 
    border-radius: 10px;
    width: 20px;
    cursor: pointer;
    height: 20px;
}

#shr{
    width:30px;
    height:23px;
}

.pfp {
    height: 60px;
    width: 60px;
    padding-right: 60px;
    margin-top: -35px;
    cursor: pointer;
}

#qz:link, #qz:active, #qz:hover, #qz:visited {
    text-decoration: none;
    color: white;
}

.lb1 {
    background: #454545;
    display: inline-block;
    top: 60%;
    transform: translateY(-50%);
    position: absolute;
    left: 96%;
    border-radius: 10px;
    width: 6px; 
    height: 250px; 
    margin-bottom: 100px;
    padding: 70px 50px 50px 0;
    overflow: hidden;
    cursor: pointer;
}

.lbc {
    transform: rotate(270deg);
    font-size: 1.5rem; 
    color: white;
    opacity: 31%;
    padding-right: 240px;
    padding-bottom: 170px;
    padding-top: 1px;
    padding-left: 1px;
}

.lb {
    background: #454545;
    display: none;
    top: 60%;
    transform: translateY(-50%);
    position: absolute;
    left: 83%;
    border-radius: 10px;
    width: 170px;
    height: 300px;
    margin-bottom: 100px;
    padding: 80px 60px 60px 0;
    animation: slide1 3s ease 1;
    overflow: hidden;
    color: white;

}

@keyframes slide1 {
    0% {
        left: 100%; 
    }
    100% {
        left: 83%;
        transform: translateY(-50%);
    }
}


@media screen and (max-width:600px){
    .Qzy{
        margin-left:10px;
    }

    .qn{
        font-size:1rem;
    }

    .mqn{
        font-size:1.5rem;
    }

    .abtn{
        height: 70px;
        width: 200px;
    }

    .score{
        transform: translateY(10%); 
        height: 40px;
        width:150px;
        font-size:1rem;
    }

    .scr{
        margin-bottom: 10px;
    }

    .shr { 
        right: 90%; 
    }

    .lb1,.lbc,.lb{
        display: none;
    }
}
